/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

:root {
    --display-flex: flex;
    --flex-column: column;
    --flex-row: row;

    --white-color : white
}